name: magic-mirror-dev
services:
  frontend:
    build:
      context: ../frontend
      dockerfile: docker/Dockerfile.dev
      args:
        NODE_IMG_VERSION: ${NODE_IMG_VERSION}
    hostname: frontend
    volumes:
      - ../frontend/src:/opt/src
      - ../frontend/public:/opt/public
    ports:
      - 3000:3000
    depends_on:
      - backend
      - oauth2-proxy
    env_file:
      - frontend.env
    networks:
      - nginx
  backend:
    build:
      context: ../backend
      dockerfile: docker/Dockerfile.dev
      args:
        NODE_IMG_VERSION: ${NODE_IMG_VERSION}
        NODE_ENV: development
    hostname: backend
    depends_on:
      - oauth2-proxy
      - ferretdb
    volumes:
      - ../backend/src:/opt/src
      - ../backend/ssl:/etc/express
    env_file:
      - backend.env
    networks:
      - nginx
      - db
    environment:
      MONGO_HOSTNAME: ferretdb
      MONGO_USERNAME: ${MONGO_ROOT_USER}
      MONGO_PASSWORD: ${MONGO_ROOT_PW}
      DATABASE_TYPE: ferretdb
  ferretdb:
    image: ghcr.io/ferretdb/ferretdb:latest
    restart: unless-stopped
    hostname: ferretdb
    volumes:
      - ../ferretdb/data:/state
    ports:
      - 27017:27017
    environment:
      - FERRETDB_POSTGRESQL_URL=sqlite:///state/data.sqlite
      - FERRETDB_TELEMETRY=disable
    networks:
      - db
    command: --listen-addr=:27017
  oauth2-proxy:
    build:
      context: ../oauth2-proxy
    command: --config=/opt/conf/oauth2-proxy.cfg
    ports:
      - 443:443
    restart: unless-stopped
    networks:
      - nginx
    env_file:
      - proxy.env

networks:
  nginx:
  db:
