version: '3.8'

services:
  app:
    image: mcr.microsoft.com/devcontainers/typescript-node:24
    volumes:
      - ..:/workspace:cached
      # Mount docker socket for docker-in-docker
      - /var/run/docker.sock:/var/run/docker.sock
    command: sleep infinity
    network_mode: service:db
    depends_on:
      - db

  db:
    image: mongo:8.2.3-noble
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"
      - "3000:3000"
      - "3001:3001"
      - "9229:9229"

volumes:
  mongo-data:
