apiVersion: v1
kind: Secret
metadata:
  name: ghcr-pull-secret
  namespace: magic-mirror
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: "{{ {'auths': {'ghcr.io': {'username': registry_username, 'password': registry_password, 'auth': (registry_username + ':' + registry_password) | b64encode}}} | to_json | b64encode }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
  namespace: magic-mirror
type: Opaque
stringData:
  FERRETDB_USERNAME: "{{ ferretdb.user }}"
  FERRETDB_PASSWORD: "{{ ferretdb_root_pw }}"
  GEOCODE_API_KEY: "{{ geocode_api_key }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: ferretdb-tls
  namespace: magic-mirror
type: Opaque
data:
  ferretdb.pem: "{{ ferretdb_cert_pem }}"
  ferretdb.key: "{{ ferretdb_cert_key }}"
  rootCA.pem: "{{ ferretdb_root_ca }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: ferretdb-credentials
  namespace: magic-mirror
type: Opaque
stringData:
  FERRETDB_USERNAME: "{{ ferretdb.user }}"
  FERRETDB_PASSWORD: "{{ ferretdb_root_pw }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: oauth2-proxy-secrets
  namespace: magic-mirror
type: Opaque
stringData:
  OAUTH2_PROXY_CLIENT_ID: "{{ oauth2_proxy.client_id }}"
  OAUTH2_PROXY_CLIENT_SECRET: "{{ client_secret }}"
  OAUTH2_PROXY_COOKIE_SECRET: "{{ oauth2_cookie_secret }}"
  OAUTH2_PROXY_EMAIL_DOMAINS: "{{ oauth2_proxy.email_domains | default('*') }}"
{% if not letsencrypt_enabled | default(false) %}
---
apiVersion: v1
kind: Secret
metadata:
  name: oauth2-proxy-tls
  namespace: magic-mirror
type: Opaque
data:
  {{ server_fqdn }}.pem: "{{ oauth2_cert_pem }}"
  {{ server_fqdn }}.key: "{{ oauth2_cert_key }}"
{% endif %}
