apiVersion: v1
kind: Secret
metadata:
  name: mongo-credentials
  namespace: magic-mirror
type: Opaque
stringData:
  MONGO_INITDB_ROOT_USERNAME: "{{ mongo.user }}"
  MONGO_INITDB_ROOT_PASSWORD: "{{ mongo_root_pw }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
  namespace: magic-mirror
type: Opaque
stringData:
  MONGO_USERNAME: "{{ mongo.user }}"
  MONGO_PASSWORD: "{{ mongo_root_pw }}"
  GEOCODE_API_KEY: "{{ geocode_api_key }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: oauth2-proxy-secrets
  namespace: magic-mirror
type: Opaque
stringData:
  OAUTH2_PROXY_CLIENT_ID: "{{ oauth2_proxy.client_id }}"
  OAUTH2_PROXY_CLIENT_SECRET: "{{ client_secret }}"
  OAUTH2_PROXY_COOKIE_SECRET: "{{ oauth2_cookie_secret }}"
  OAUTH2_PROXY_EMAIL_DOMAINS: "*"
---
apiVersion: v1
kind: Secret
metadata:
  name: backend-tls
  namespace: magic-mirror
type: Opaque
data:
  express.pem: "{{ backend_cert_pem }}"
  express.key: "{{ backend_cert_key }}"
  rootCA.pem: "{{ root_ca_pem }}"
{% if not letsencrypt_enabled | default(false) %}
---
apiVersion: v1
kind: Secret
metadata:
  name: oauth2-proxy-tls
  namespace: magic-mirror
type: Opaque
data:
  {{ server_fqdn }}.pem: "{{ oauth2_cert_pem }}"
  {{ server_fqdn }}.key: "{{ oauth2_cert_key }}"
  rootCA.pem: "{{ root_ca_pem }}"
{% endif %}
