---
required_backend_packages:
  - docker.io
  - docker-compose-plugin
  - mkcert
  - rsync

required_rpi_packages:
  default:
    - python3
    - python3-pip
  ubuntu:
    - firefox
    - python3-lgpio
  raspbian:
    - firefox-esr
    - x11-xserver-utils
    - unclutter

domain: fritz.box
addtional_hostnames: "localhost 127.0.0.1 ::1"
mongo:
  user: mongoadmin
  host: mongo
  ssl: false
  port: 27017
mongu_user: mongoadmin
mongo_host: mongo

oauth2_proxy:
  client_id: 428211582851-66891ucq97qkrbmsik41ftkfcke0u26f.apps.googleusercontent.com
  scopes: email profile https://www.googleapis.com/auth/calendar.readonly
  version: v7.13.0-alpine
backend_context: "/api"
pw_store_dir: "{{ playbook_dir }}/pwstore"
node:
  version: 24-alpine3.23

backend_url: "https://nuc.{{ domain }}"
